<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/Logo_icon.ico" />

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Swiper CSS (via CDN) -->
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <!-- Styles -->
    {% block stylesheets %}
        {{ encore_entry_link_tags('app_style') }}
        {{ encore_entry_link_tags('swiper_list_style') }}
    {% endblock %}

    <title>{% block title %}Bon Tourisme{% endblock %}</title>
</head>
<body class="bg-white md:text-dark">
    <!-- Navbar -->
    {% include 'component/navbar.html.twig' %}

    <!-- Main Content -->
    <main>
        {% block body %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include 'component/footer.html.twig' %}

    <!-- Swiper JS (via CDN) -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Scripts -->
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('swiper_base') }}
        {{ encore_entry_script_tags('swiper_list') }}
    {% endblock %}
</body>
</html>
